body {
  background-color: #EEEEEE;
  margin: 0;
  padding: 0;
  font-family: avenir;
}

header {
  height: 5vh;
  background-color: #9B9B8D;
  border-bottom: 2px solid #272724
}

.container {
  height: 90vh;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.row {
  margin: 0px;
  padding: 0px;
}

.track-bin {
  margin: auto;
  width: 50%;
}

h1 {
  color: #501C6C;
  font-weight: 100;
  font-size: 40px;
}

.button {
  color: whitesmoke;
  background-color: #353528;
  padding: 5px 25px;
  border-radius: 5px;
  font-weight: 100;
}

.album-list {
  padding-top: 7px;
}

.album-list::after {
  content: '';
  background: url('resources/Track.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 5;
}

.splash-album {
  display: block;
  height: 28vh;
  width: 28vh;
  margin: 5px auto;
  z-index: 10;
}

.playlistHeader {
  color: whitesmoke;
  height: 15vh;
  background-color: #9B9B8D;
  padding-top: 10vh;
  padding-left: 40px;
  border: none;
  overflow: auto;
}

.playlist-container {
  height: 80vh;
  background-color: white;
  overflow: auto;
}

.album-scroller {
  height: 20vh;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.album_container {
  display: inline-block;
  margin: 10px;
  margin-left: 50px;
}

.album {
  height: 90px;
  width: 90px;
}

.selectCont {
  padding-left: 40px;
}

.albumChoice {
  height: 130px;
  width: 130px;
}

.addAlbums {
  border: 2px solid #353528;
  margin: 30px 10px;
  padding-top: 10px;
  height: 30vh;
  background-color: #EEEEEE;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
}

.currentAlbum {
  text-align: center;
  font-size: 16px;
  margin: auto 10px;
  padding-top: 10vh;
  width: 50%;
  height: 30vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

.boxTitle {
  text-decoration: underline;
  margin-bottom: 15px;
}

.arrowCont {
  margin: auto 0px;
  padding: 0px;
  width: 50%;
}

.arrow {
  width: 100%;
}

.buttons {
  margin-left: 100px;
  font-size: 24px;
}

.clear-tracks {
  margin-right: 20px;
}

.clear-tracks:hover {
  color: rgb(246, 236, 102);
  text-decoration: underline;
}

.submit-bin:hover {
  color: #64C779;
  text-decoration: underline;
}

#postResponse {
  margin-top: 30px;
  padding: 10px;
  opacity: 0;
  background-color: red;
  color: white;
  text-align: center;
}

@keyframes fadeIn {
  0% {opacity: 0}
  16.67% {opacity: 1}
  83.33% {opacity: 1}
  100% {opacity: 0}
}

footer {
  font-size: 16px;
  color: lightgray;
  height: 5vh;
  background-color: #68685A;
  padding: 5px 30px;
  font-weight: 100;
}
